body{
    background-color:#b3d2e233;
}
hr{
    color:#8FBCD4;
}
footer{
    background-color: #4F5C63;
}
h4{
    font-size:1.2em;
    margin:10px 0px;
}

.categorycont{
    background-color:#6f42c1;
    color:white;
    padding:20px 50px;
    margin:15px;

}
.categorycont a {
    color:white;
    text-decoration: none;;
}

h2{
    font-size:1.3em;
    color:#4F5C63;
    margin:15px 30px;
}