{% extends 'base.html' %} 
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div><h2>{{chosen_category.name}}</h2></div> 
            {% for i in category_topics %}
            {{i.title}}
            {% endfor %}

            {% if item.summary %} 
            {{item.summary|safe}}
            {% endif %}
            <h3>Comments</h3><hr>
            {% if not item.comments.all %}
            <p>No comments</p>
            {% else %}
                {% for message in item.comments.all %}
                <div>
                <i>{{message.commenter}}</i><br/>
                {{message.body}}
                </div><hr>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-sm-3">
            <h3>Browse Others</h3><hr>
            </div>
    </div>

{% endblock %}
