{% extends 'base.html' %} 
{% block content %}
Welcome
<div class="container text-center">
    <div class="row">
        <div class="col-sm-3">
        {% for category in categories_preview %} 
            <div><a href="{% url 'category-view' category.id %}">{{category.name }}</a></div><hr>
        {% if empty %}
        <p>No categories listed.</p>
        {% endif %}
        {% endfor %} 
        </div>
        <div class="col-sm-6">
        {% for topic in topic_activity %} 
            <div><a href="{% url 'topic_item' topic.slug %}">{{topic.title }}</a></div>
        {% if empty %}
        <p>No topics being discussed right now.</p>
        {% endif %}
        {% endfor %} 
        </div>
        <div class="col-sm-3">col-sm-4</div>
    </div>

{% endblock %}
