{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Grow Stronger Together</h1>
        <p class="lead text-muted">We are a forum dedicated help credit unions share knowledge, pool ideas and engage with each other. </p>
        <p>
          {% if user.is_authenticated %}
          <a href="{% url 'create-topic' %}" class="btn btn-primary my-2">Start a Discussion</a>
          {% else %}
          <a href="{% url 'account_login' %}" class="btn btn-primary my-2">Sign in</a>
          <a href="{% url 'account_signup' %}" class="btn btn-primary my-2">Register</a>
          {% endif %}
        </p>
      </div>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container"> 
        <div class="row py-5"><h2 class="m-0 text-center text-black">Supported by over 300 Credit Unions</h2></div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for cu in credit_unions %} 
          <div class="col">
            <div class="card shadow-sm">
              <img src="{{cu.logo.url}}" height="225" alt="credit union members">
              <div class="card-body">
              <p class="card-text">{{cu.name}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
{% endblock content %}

