{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div><h2>{{item.title }}</h2></div> 
            {% if item.summary %} 
            {{item.summary|safe}}
            {% endif %}
            <h3>Comments</h3><hr>
            <strong>Leave a comment</strong>
            <form method="POST">
                {% csrf_token %}
                {{new_comment | crispy}}
                <button type="submit">Comment</button>
            </form>
            {% if not item.comments.all %}
            <p>No comments</p>
            {% else %}
                {% for message in item.comments.all %}
                <div>
                <i>{{message.commenter}}</i><br/>
                {{message.body}}
                </div><hr>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-sm-3">
            <h3>Browse Categories</h3><hr>
            {% for category in categories_preview %} 
                <div>{{category.name }}</div><hr>
            {% empty %}
            <p>No categories listed.</p>
            {% endfor %} 
            </div>
    </div>
{% endif %}
{% endblock %}
