{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                {{ message | safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Delete Topic</h2>
            <p>Are you sure?</p>
            <form method="POST">
                {% csrf_token %}
                {{topic}}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
{% endblock %}
